* {
    margin: 0;
    background: #3d3d3d;
}

.content {
    margin: 0 auto;
    width: 550px;
    display: flex;
}

.wrapper-counter {
    text-align: center;
    width: 180px;
    height: 150px;
    border: 1px solid aqua;
    border-radius: 4px;
    margin: 40px auto;
    background: #3d3d3d;
}

.window-count {
    margin: 10px;
    padding: 16px;
    border: 1px solid aqua;
    border-radius: 4px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    color: aqua;
    background: #3d3d3d;
}

.max-count {
    color: red;
}

.window-button {
    margin: 0 10px 10px 10px;
    border: 1px solid aqua;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.button {
    background: aqua;
    color: #3d3d3d;
    border: 1px solid aqua;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.disabled {
    opacity: 40%;
    cursor: auto;
}





.new-wrapper-counter {
    text-align: center;
    width: 180px;
    height: 150px;
    border: 1px solid aqua;
    border-radius: 4px;
    margin: 40px auto;
    background: #3d3d3d;
}

.window-settings {
    margin: 10px;
    padding: 15px;
    border: 1px solid aqua;
    border-radius: 4px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    color: aqua;
    background: #3d3d3d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-value {
    display: flex;
    font-size: 10px;
    color: aqua;
    justify-content: space-between;
}

.input {
    width: 50px;
    background: white;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: 1px solid aqua;
    border-radius: 3px;
}

.error-input {
    border: 1px solid red;
}

.window-button-new {
    display: block;
    margin: 0 10px 10px 10px;
    border: 1px solid aqua;
    border-radius: 4px;
    padding: 10px;
    /*justify-content: center;*/
    /*align-items: center;*/
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.settings {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 9px;
    border: 1px solid aqua;
    border-radius: 4px;
    height: 55px;
    font-size: 12px;
    font-weight: bold;
    color: aqua;
    background: #3d3d3d;
    justify-content: center;
    align-content: center;
}

.error {
    color: red;
}